
<h1>Ingredients</h1>

<div class="container">
    <div class="leftContainer">
        <% allIngredients.forEach(ingredient => { %>
            <div class="ingredientCard">
                <h2>Name: <%= ingredient.name  %> </p>
                <img src="<%= ingredient.photo %>" />
                <h3>Kcal / 100g : <%= ingredient.kcal100g  %> </p>
                <h3>Macros / 100g :</h3>
                <ul>
                    <% ingredient.macros100g.forEach(function(macros) { %>
                        <li> <h4>Protein: <%= macros.protein %>g</p></li>
                        <li> <h4>Carbs: <%= macros.carbs %>g</p></li>
                        <li> <h4>Fat: <%= macros.fat %>g</p></li>
                        <% }) %>
                </ul>
            </div>
        <% }) %>
    </div>

    <div class="rightContainer">
        <div class="form">
            <form action="/ingredients" method="POST" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" name="name" >
              
                <label for="photo">Photo:</label>
                <input type="file" name="photo" accept="image/png, image/jpg">
              
                <label for="kcal100g">Calories per 100g:</label>
                <input type="number" name="kcal100g" required>
              
                <label for="protein">Protein per 100g:</label>
                <input type="number" name="protein" required>
              
                <label for="carbs">Carbs per 100g:</label>
                <input type="number" name="carbs" required>
              
                <label for="fat">Fat per 100g:</label>
                <input type="number" name="fat" required>
              
                <button type="submit">Add Ingredient</button>
              </form>
        </div>
    </div>
    
</div>







