<div id="form">
    <h2>My Profile</h2>
    <form action="/profile/" method="POST">
      <label> Name:
        <% if (!user.name) { %>
        <input type="text" name="name" placeholder="name..." />
        <% } else { %>
        <span><%= user.name %></span>
        <% } %>
      </label>
  
      <label> Image:
        <img id="profile-image" src="<%= user.img %>" alt="profile-image">
        <input type="file" id="image-upload" accept="image/*">
      </label>
  
      <label> Age:
        <% if (!user.age) { %>
        <input type="text" name="age" placeholder="25" />
        <% } else { %>
        <span><%= user.age %></span>
        <% } %>
      </label>
  
      <label for="cast">Gender:</label>
      <% if (!user.gender) { %>
      <select name="gender" id="cast">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <% } else { %>
      <span><%= user.gender %></span>
      <% } %>
  
      <label> Weight (kg):
        <% if (!user.weight) { %>
        <input type="text" name="weight" placeholder="85" />
        <% } else { %>
        <span><%= user.weight %></span>
        <% } %>
      </label>
  
      <label> Height (cm):
        <% if (!user.height) { %>
        <input type="text" name="height" placeholder="180" />
        <% } else { %>
        <span><%= user.height %></span>
        <% } %>
      </label>
  
      <button type="submit">Save</button>
    </form>
  </div>
  