
<h1 class="all-recipes-heading">Ingredients</h1>

<div class="container-ingredients">
    <div class="ingredient-list">
        <% allIngredients.forEach(ingredient => { %>
            <div class="ingredientCard-ingredients">
                <h2><a href="/ingredients/<%= ingredient._id %>"> <%= ingredient.name  %></a> </h2>
                <img src="<%= ingredient.photo %>" />
                <h3>Kcal / 100g : <%= ingredient.kcal100g  %> </p>
                <h3>Macros / 100g :</h3>
                <ul>
                    <% ingredient.macros100g.forEach(function(macros) { %>
                        <li> <h4>Protein: <%= macros.protein %>g</p></li>
                        <li> <h4>Carbs: <%= macros.carbs %>g</p></li>
                        <li> <h4>Fat: <%= macros.fat %>g</p></li>
                        <% }) %>
                </ul>
            </div>
        <% }) %>
    </div>

    
    <div class="right-side-container">

        <h2>Add Your Own Ingredients</h2>
        <div class="ingredient-form-container">
            <form action="/ingredients" method="POST" enctype="multipart/form-data">
                <label for="name" class="ingredient-label">Name:</label>
                <input type="text" name="name" class="ingredient-input">
              
                <label for="photo" class="ingredient-label">Photo:</label>
                <input type="file" name="photo" accept="image/png, image/jpg" class="ingredient-input">
              
                <label for="kcal100g" class="ingredient-label">Calories per 100g:</label>
                <input type="number" name="kcal100g" required class="ingredient-input">
              
                <label for="protein" class="ingredient-label">Protein per 100g:</label>
                <input type="number" name="protein" required class="ingredient-input">
              
                <label for="carbs" class="ingredient-label">Carbs per 100g:</label>
                <input type="number" name="carbs" required class="ingredient-input">
              
                <label for="fat" class="ingredient-label">Fat per 100g:</label>
                <input type="number" name="fat" required class="ingredient-input">
              
                <button type="submit" class="ingredient-submit-button">Add Ingredient</button>
              </form>
        </div>
    </div>
    
</div>







