<h1>Update Recipe</h1>

<form method="POST" action="/recipes/<%- recipe._id %>/update" style="display: flex; flex-direction: column; align-items: center;">
  <label>Name: <input name="name" value="<%= recipe.name %>"></label>
  <label>Photo: <input type="file" name="photo" accept="image/*"></label>
  <label>Duration: <input type="number" name="duration" value="<%= recipe.duration %>"></label>
  <label>Instructions: <input name="instructions" value="<%= recipe.instructions %>"></label>
  <label>Total Calories: <input type="number" name="totalCalories" value="<%= recipe.totalCalories %>"></label>
  <label>Protein: <input type="number" name="totalMacros.protein" value="<%= recipe.totalMacros.protein %>"></label>
  <label>Carbs: <input type="number" name="totalMacros.carbs" value="<%= recipe.totalMacros.carbs %>"></label>
  <label>Fat: <input type="number" name="totalMacros.fat" value="<%= recipe.totalMacros.fat %>"></label>

  <button type="submit">Update Recipe</button>
</form>